@import "mixins";

.hxRow {
  @include hxGrid-row {
    & > .hxCol {
      @include hxGrid-column;
    }

    &.hxGutterless {
      margin: 0;

      & > .hxRow + .hxRow {
        margin-top: 0;
      }

      & > .hxCol {
        margin: 0;
        padding: 0;
      }
    }
  }
}

@include hxGrid;
